@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: #2C363F;
    font-family: 'Lato', sans-serif;

    overflow-x: hidden;
}

.grid {
    position: absolute;

    width: 1px;
    height: 100%;
    
    background: #000;

    z-index: -1;
}

.separator-a {
    background: ;
}

.separator-b {
    background: #000;
}

.step-sequencer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* min-width: 200px; */
    width: 850px;
    min-height: 350px;
    background: #727C81;
    border: 8px solid #4E585E;
    border-radius: 4px;
}

.row {
    display: grid;
    /* align-items: center; */
    /* grid-template-columns: 1fr 1fr 50px 5fr 50px; */
    grid-template-columns: 1fr 1.5fr 20px 5fr;
    grid-gap: 0 15px;
    width: 100%;
    padding: 0 50px;
}

.settings {
    background: #4E585E;
}

.placeholder {
    width: 100%;
}

.arrows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.all {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 5px;

    background: #32393E;
    border-radius: 3px;

    color: #FFF;
}

/**/

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enable, .knob {
    border-radius: 50px;
}

.enable {
    width: 0.8rem;
    height: 0.8rem;
    background: rgb(206, 255, 119);
    background: linear-gradient(0deg, rgba(206, 255, 119, 1) 0%, rgba(168, 247, 61, 1) 100%);
    border: 2px solid #9FA7A9;
}

.knob {
    display: flex;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    background: #50585F;
    -webkit-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.92);
    -moz-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.92);
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.92);
}

.line {
    width: 2px;
    height: 50%;
    background: #FFF;
}

.mixer-channel {
    width: 30px;
    height: 100%;
    background: #6C767C;
}

.sample {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFF;
    background: rgb(97, 107, 113);
    background: linear-gradient(0deg, rgba(97, 107, 113, 1) 0%, rgba(129, 139, 145, 1) 100%);
    -webkit-box-shadow: 0px 6px 6px -3px rgba(97,107,113,1);
    -moz-box-shadow: 0px 6px 6px -3px rgba(97,107,113,1);
    box-shadow: 0px 6px 6px -3px rgba(97,107,113,1);
    border: 2px solid #535D62;
    border-radius: 3px;
}

.selected {
    text-align: center;
    background: ;
}

.light {
    display: inline-block;
    width: 12px;
    height: 100%;
    background: #5E686D;
    border: 2px solid #3A444A;
}

.steps {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    height: 40px;
    background: ;
}

/* .steps, .steps2, .steps3 {
    display: flex;
    justify-content: space-between;

    background: ;
    width: 80%;
    height: 40px;
} */

.bar {
    /* display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.step {
    /* width: 25px; */
    position: relative;
    display: grid;
    justify-items: center;
    width: 20px;
    height: 80%;
    margin: ;
    border-radius: 5px;
}

.slot {
    position: absolute;
    top: 8px;
    width: 80%;
    height: 2px;
    background: #2A3139;
}

.slot:before, .slot:after {
    content: "";
    position: absolute;
    top: 0;
    width: 5px;
    height: 3px;
    background: #2A3139;
}

.slot:before {
    right: 0;
}

.slot:after {
    left: 0;
}

/* .step:active {
    background: blue;
} */

.gray>* {
    background: #535E62;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.red>* {
    background: #7B6361;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.active {
    /* background: green; */
    filter: brightness(200%);
}