* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.step-sequencer {
    display: flex;
    justify-content: center;
    
    background: orange;
    min-width: 200px;
    min-height: 400px;
}

.steps {
    display: flex;
    justify-content: space-between;

    background: ;
    width: 80%;
    height: 40px;
}

.bar {
    display: flex;
    justify-content: space-between;
    flex: 1;

}

.step {
    width: 20%;
    height: 100%;
    margin: ;
}

/* .step:active {
    background: blue;
} */

.gray > * {
    background: gray;
}

.red > * {
    background: red;
}

.active {
    background: green;
}